In [ ]:
#1

In [ ]:
#2

In [ ]:
#3

In [ ]:
#4

In [ ]:
#5

# 6

In [47]:
N = int(input())

result = 1
process = ""

for i in range(1, N + 1):
    result *= i
    process += str(i)
    if i < N:
        process += "*"

print(process)

4
1*2*3*4

# 7

In [1]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n-1)
    
import sys
sys.setrecursionlimit(10**5)

N = int(input())

print(fact(N))

6
720

In [35]:
#8
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n-1)
    
import sys
sys.setrecursionlimit(10**5)

N = int(input())

print(f"{N}! = ({'*'.join(map(str, range(1, N+1)))}) = {fact(N)}")

6
6! = (1*2*3*4*5*6) = 720

In [26]:
#9

In [24]:
#10

# 11

In [25]:
def fib(n):
    if n == 1 or n == 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

N = int(input())
print(fib(N))

20
6765

In [ ]:
#12

# 13

In [23]:
n=int(input())
for i in range(1, n):
    n+=i
print(n)

100
5050

# 14

In [54]:
def print_numbers_recursive(n, current=0):
    if current <= n:
        print(current)
        print_numbers_recursive(n, current + 1)

n = int(input())
print_numbers_recursive(n)

20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# 15

In [50]:
n = int(input())
for i in range(1, n+1):
    print(i)

20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# 16

In [15]:
def reverse_order(n):
    if n == 0:
        return
    else:
        print(n, end=" ")
        reverse_order(n - 1)
        
n = int(input())
reverse_order(n)

10
10 9 8 7 6 5 4 3 2 1

In [ ]:
#17

In [ ]:
#18

In [6]:
#19

for i in range(len(string.ascii_uppercase), 0, -1):
    print(' '.join(string.ascii_uppercase[:i]))

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
A B C D E F G H I J K L M N O P Q R S T U V W X Y
A B C D E F G H I J K L M N O P Q R S T U V W X
A B C D E F G H I J K L M N O P Q R S T U V W
A B C D E F G H I J K L M N O P Q R S T U V
A B C D E F G H I J K L M N O P Q R S T U
A B C D E F G H I J K L M N O P Q R S T
A B C D E F G H I J K L M N O P Q R S
A B C D E F G H I J K L M N O P Q R
A B C D E F G H I J K L M N O P Q
A B C D E F G H I J K L M N O P
A B C D E F G H I J K L M N O
A B C D E F G H I J K L M N
A B C D E F G H I J K L M
A B C D E F G H I J K L
A B C D E F G H I J K
A B C D E F G H I J
A B C D E F G H I
A B C D E F G H
A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

In [ ]:
#20

# 21

In [3]:
user = input()
num = list(map(int, str(user)))

num.reverse()
print(' '.join(map(str, num)))

3484279
9 7 2 4 8 4 3

# 22

In [1]:
def euclidean_algorithm(x, y):
    while y != 0:
        x, y = y, x % y
    return x

num1, num2 = map(int, input().split())
gcd = euclidean_algorithm(num1, num2)
print(gcd)

24 64
8

In [ ]:
#23

In [ ]:
#24

In [ ]:
#25

In [27]:
#26